version: '3.4'

services:

  mail:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

  s3:
    image: scality/s3server
    ports:
      - "8030:8000"

  ftp:
    image: bogem/ftp
    ports:
      - "2121:21"
      - "47400-47470:47400-47470"
    environment:
      PASV_ADDRESS: 127.0.0.1
      FTP_USER: "user"
      FTP_PASS: "fun"

  postgres:
    build: docker/postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "fun"

  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka:0.10.2.0
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: localhost
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "pub.user.quotes:3:1"
      KAFKA_BROKER_ID: 0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - "zookeeper"
